<!DOCTYPE html>
<html>
  <head>
    <title>Roblox Status</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.roblox.com/favicon.ico">
    <script src="jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <meta content="Roblox Status" property="og:title">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="theme-color" content="#e34439">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="The unofficial page designed to show the current status of the main services of Roblox." property="og:description">
  </head>
  <script type="text/javascript">
    if (navigator.userAgent.includes('Android') || navigator.userAgent.includes('iPhone') || navigator.userAgent.includes('BB')) { 
      window.location.replace("https://robloxstatus.sazz.xyz/mobile"); 
    }
  </script>
  <body>
    <div class="wrapper">
      <div class="nav">
        <a href="https://roblox.com"><img src="silverlogo.png" class="nav-brand"></a>
        <a href="https://github.com/Sazzo/RobloxStatus/" class="nav-item">github</a>
         <a href="https://roblox.com" class="nav-item">roblox</a>
      </div>
      <div class="ingeral">
      <% if(haveOffline) { %>
      <% if(!outage) { %>
      <div class="status2 offline2">
          <span class="note">Some services is offline.</span>
        </div>
      <% } else {%>
      <div class="status offline2">
          <span class="note"><%= outage.statusTitle %></span>
        </div>
     <div class="container">
       <span class="description"><%- outage.statusText %><br>Please be patient! Thank you.</span>
    </div>
      <% } %>
      <% } else { %>
      <div class="status2 online2">
          <span class="note">All Systems Operational</span>
        </div>
   <% } %>
      </div>
      <div class="all">
        <% status.forEach(({url, name, online, reason}) => { %>
       <a style="position: relative; top: 60px; margin-left: 250px; text-decoration: none; color: #bbb" href="<%- url %>"><p><%= name %>: <%- online ? `<span class="online">Online</span>` : `<span class="offline">Offline</span>`%>
      <% }) %>
      </div>
    </div>
    </div>
        <p class="footer">Made with ❤ by FelipeSazz</p>
         <p class="footer unrelatedNote">This website is unofficial and is not related and/or affiliated in any way to Roblox or the Roblox Corporation. Roblox-related logos and names are the property of Roblox Corporation. All rights reserved.</p>
      </div>
  </body>
</html>

